@import "./common/colors";
@import "./common/fonts";
@import "./common/mixin";

h1{
    background-color: $cooker;
    color: white;
    font-size: $pam;
}

h2{
    font-size: 30px + 30px;
}

.parent{
    @include brother(red,300px ,300px );
    @include sister;
    .child{
        @include brother(pink,200px ,200px );
        @include sister;
        .grandchild{
            @include brother(yellow,100px ,100px );
            @include sister;
        }
    }
}



